<div class="container">
    <div class="row my-3 my-md-5">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <img class="robo" src="../../../assets/robo-happy.gif" alt="robot">
            </div>
        </div>
        <div class="col-md-6 my-auto">
            <div class="titleText text-center my-4">
                About
            </div>
            <div class="bodyText2 text-center">
                Arcade 6 is a place to kill some time. Dinorun was inspired by the famous google error message. Fly Away and Cruise are pretty identical but have a very simple concept. Thank you for playing!
            </div>
        </div>
    </div>
</div>