<div class="p-16">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="bodyText text-center mt-4 mb-2">
                This is your old fasioned memory matching game. Tap on a card to flip it. You can only flip a maximum of two cards at a time. A match will remove those cards!
            </div>
        </div>
    </div>
    <div class="grid p-16 my-4">
        <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
        </app-game-card>
    </div>
</div>
<div class="container py-4">
    <div class="text text-center" style="color:powderblue; font-weight: bold; font-size:15px;">
        © 2022 Copyright: Rojaa
    </div>
</div>