
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="bodyText text-center mt-4 mb-2">
            Take a break and play the piano for a little bit. You don't have to be a professional.
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="bodyText text-center mt-4 mb-2 phone-message" style="color:powderblue; font-size:15px;">
            disable tilt and tilt your device
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center my-4">
    <div class="piano">
        <div #key #Cnote (click)="C()" data-note="C" class="key white">
            <div class="bodyText letter-white" style="color:rgba(128, 128, 128, 0.462);">
                "z"
            </div>
        </div>
        <div #key #Dbnote (click)="Db()" data-note="Db" class="key black">
            <div class="bodyText letter-black" style="color:rgba(128, 128, 128, 0.462);">
                "s"
            </div>
        </div>
        <div #key #Dnote (click)="D()" data-note="D" class="key white">
            <div class="bodyText letter-white" style="color:rgba(128, 128, 128, 0.462);">
                "x"
            </div>
        </div>
        <div #key #Ebnote (click)="Eb()" data-note="Eb" class="key black">
            <div class="bodyText letter-black" style="color:rgba(128, 128, 128, 0.462);">
                "d"
            </div>
        </div>
        <div #key #Enote (click)="E()" data-note="E" class="key white">
            <div class="bodyText letter-white" style="color:rgba(128, 128, 128, 0.462);">
                "c"
            </div>
        </div>
        <div #key #Fnote (click)="F()" data-note="F" class="key white">
            <div class="bodyText letter-white" style="color:rgba(128, 128, 128, 0.462);">
                "v"
            </div>
        </div>
        <div #key #Gbnote (click)="Gb()" data-note="Gb" class="key black">
            <div class="bodyText letter-black" style="color:rgba(128, 128, 128, 0.462);">
                "g"
            </div>
        </div>
        <div #key #Gnote (click)="G()" data-note="G" class="key white">
            <div class="bodyText letter-white" style="color:rgba(128, 128, 128, 0.462);">
                "b"
            </div>
        </div>
        <div #key #Abnote (click)="Ab()" data-note="Ab" class="key black">
            <div class="bodyText letter-black" style="color:rgba(128, 128, 128, 0.462);">
                "h"
            </div>
        </div>
        <div #key #Anote (click)="A()" data-note="A" class="key white">
            <div class="bodyText letter-white" style="color:rgba(128, 128, 128, 0.462);">
                "n"
            </div>
        </div>
        <div #key #Bbnote (click)="Bb()" data-note="Bb" class="key black">
            <div class="bodyText letter-black" style="color:rgba(128, 128, 128, 0.462);">
                "j"
            </div>
        </div>
        <div #key #Bnote (click)="B()" data-note="B" class="key white">
            <div class="bodyText letter-white" style="color:rgba(128, 128, 128, 0.462);">
                "m"
            </div>
        </div>
    </div>
</div>
<div class="container py-4 copyright">
    <div class="text text-center" style="color:powderblue; font-weight: bold; font-size:15px; opacity:0.5;">
        © 2022 Copyright: Action Six
    </div>
    <div class="text text-center mt-1" style="color:powderblue; font-weight: bold; font-size:12px; opacity:0.4;">
        Designed By: Chubby Designs
    </div>
</div>