<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row my-5">
        <div class="col-md-6 my-auto">
            <div class="titleText text-center mb-4">
                Welcome!
            </div>
            <div class="bodyText2 text-center">
                Action 6 is a virtual arcade/resource center for all of your random needs! Come and play or learn something new!
            </div>
        </div>
        <div class="col-md-6 mt-5 mt-md-0">
            <div class="d-flex justify-content-center">
                <img class="robo" src="../../../assets/robo.gif" alt="robot">
            </div>
        </div>
    </div>
    <div class="row bootstrap snippets bootdeys">

        <div class="col-md-4">
            <a routerLink="/dinorun">
                <div class="card card-background">
                     <div class="image" style="background-image: url(../../../assets/dinorun/dinorun.jpg); background-size: cover; background-position: 50% 90%;">
                         <div class="filter"></div>
                     </div>
                 </div>
            </a>
        </div>

        <div class="col-md-4 flyaway-na">
            <div class="card card-background">
                <div class="image" style="background-image: url(../../../assets/birdie/flyaway.jpg); background-size: cover; background-position: 50% 90%; filter: grayscale(100%);">
                    <div class="filter"></div>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 flyaway">
            <a routerLink="/flyaway">
                <div class="card card-background">
                     <div class="image" style="background-image: url(../../../assets/birdie/flyaway.jpg); background-size: cover; background-position: 50% 90%;">
                         <div class="filter"></div>
                     </div>
                 </div>
            </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/matchmemory">
                <div class="card card-background">
                     <div class="image" style="background-image: url(../../../assets/matchmemory.jpg); background-size: cover; background-position: 50% 90%;">
                         <div class="filter"></div>
                     </div>
                 </div>
            </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/bored">
                <div class="card card-background">
                     <div class="image" style="background-image: url(../../../assets/card-back.jpg); background-size: cover; background-position: 50% 90%;">
                         <div class="filter"></div>
                     </div>
                 </div>
            </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/piano">
                <div class="card card-background">
                     <div class="image" style="background-image: url(../../../assets/card-back.jpg); background-size: cover; background-position: 50% 90%;">
                         <div class="filter"></div>
                     </div>
                 </div>
            </a>
        </div>

    </div>
</div>